@layer components {
  .fixed-vertical-container {
    aspect-ratio: 9/16;
    min-width: min-content;
    width: 430px !important;
    max-width: 430px !important;
    max-height: 100dvh;
    background: #fff;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .fullscreen-black-bg {
    min-height: 100dvh;
    min-width: 100dvw;
    height: 100dvh;
    width: 100dvw;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
}
